.controls{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
}
.table{
    margin: auto;
}
thead{
    /* display: flex; */
    margin: auto;
    justify-content: space-around;
    border: 1px solid black;
    width: 800px;
}
td,th{
    border: 1px solid black;
    padding: 10px;
}